*{
    text-align: center; 
  }
 h1 {
  color: rgb(192, 147, 240);
  font-family: 'Times New Roman', Times, serif;
 }
  h2{
    color: rgb(160, 90, 235);
    font-family: 'Times New Roman', Times, serif;
  }
 
  .aze {
    border: 2px solid black;
  }